/* .App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

.movieListItem {
  margin-bottom: 15px;
}

.movieListItem > * {
  display: inline-block;
  vertical-align: top;
}

.movieListItem > *:first-child {
  width: 25%;
  max-width: 250px;
}

.movieListItem > *:last-child {
  width: 75%;
  box-sizing: border-box;
  padding: 0 20px;
  text-align: left;
}

.algnLeft {
  text-align: left;
}

/* @media (min-width: 600px) and (max-width: 900px) {
  .algnLeft {
    text-align: right;
  }
} */
